@import url('https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css');

@font-face {
	font-family: "ABeeZee";
	src: url("Fonts/ABeeZee-Regular.ttf");
}

/* Template */
body {
	background-color: floralwhite;
}

.page-container {
	font-family: ABeeZee, Arial;
	margin: 1em;
	position: relative;
	min-height: 96vh;
}

.body {
	display: flex;
}

.body > div {
	margin-left: 10em;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	margin-left: 3em;
}

.home-text {
	font-size: 24px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	outline: none;
}

.menu {
	display: flex;
	margin-right: 3em;
	clear: both;
}

.menu-text {
	float: right;
	margin: 1em;
	text-decoration: none;
	color: black;
	font-size: 20px;
	cursor: pointer;
	outline: none;
}

/* Home */
.body-home {
	display: flex;
	margin-top: 10em;
}

.body-home > div {
	margin: 1em;
}

.home-body {
	font-size: 55px;
}

/* Back to top */
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	cursor: pointer;
}

.back-to-top > img {
	width: 64px;
	height: auto;
}

.back-to-top:hover > img {
	filter: invert(95%);
}

/* Projects */
.project-container {
	display: flex;
	margin: 3em;
	margin-bottom: 5em;
}

.project-container > img {
	width: 300px;
	height: auto;
}

.project-container > div {
	margin-left: 3em;
}

.project-container > div > p {
	font-size: large;
}

.project-img {
	width: 128px;
	height: auto;
}

/* Images */
.images {
	margin: 3em;
}

.image {
	height: 300px;
	width: auto;
	object-fit: cover;
	margin: 0.5em;
	cursor: pointer;
}

/* Videos */
.videos {
	margin: 3em;
}

.video {
	object-fit: cover;
	margin: 0.5em;
}

/* Guestbook */
.guestbook {
	display: flex;
}

.guestbook-form {
	background-color: antiquewhite;
	padding: 1em;
	border-radius: 5px 25px 5px 25px;
}

.guestbook-form > div {
	position: relative;
	margin-top: 1.5em;
	padding: 0.5em;
}

span {
	position: absolute;
	pointer-events: none;
	top: 10px;
	left: 10px;
	transition: 0.2s ease all;
}

.form-input-text:focus ~ span,
.form-input-text:not(:focus):required:valid ~ span,
.form-input-text:not(:focus):optional:not(:placeholder-shown) ~ span,
textarea:focus ~ span,
textarea:not(:focus):required:valid ~ span,
textarea:not(:focus):optional:not(:placeholder-shown) ~ span {
	top: -15px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

.form-input-text, textarea {
	width: 100%;
	border: none;
	padding-bottom: 10px;
	border-bottom: solid 1px black;
	transition: all 0.3s cubic-bezier(.64,.09,.08,1);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 98%, black 4%);
	background-position: -1000px 0;
	background-repeat: no-repeat;
	font-size: 16px;
}

.form-input-text:focus, textarea:focus {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

.form-input-text::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: black;
	font-size: 11px;
	transform: translateY(-20px);
	visibility: visible !important;
}

textarea {
	resize: none;
	overflow: hidden;
}

.toggle-label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
}

.toggle-label input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	cursor: pointer;
}

.toggle-design {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	border: 1px solid black;
	border-radius: 100%;
}

.toggle-design::before,
.toggle-design::after {
	content: "";
	display: block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	position: absolute;
	transform: scale(0);
}

.toggle-design:after {
	content: "";
	position: absolute;
}

.toggle-label input:checked ~ .toggle-design:after {
	display: block;
}

.toggle-label .toggle-design:after {
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
}

.toggle-design:before {
	background: black;
	opacity: 0;
	transition: .3s;
}

.toggle-design::after {
	opacity: .4;
	transition: .6s;
}

input:checked+.toggle-design::before {
	opacity: 1;
	transform: scale(.6);
}

.form-submit {
	text-align: center;
}

button {
	border: none;
	background: black;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px;
	width: 200px;
	color: white;
}

/* Footer */
.footer {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 96%;
	height: 2.5rem;
}

.footer-menu {
	display: flex;
}

.link-text {
	float: right;
	margin: 1em;
	text-decoration: none;
	color: black;
}